.container {
  padding: 30px 30px 30px 30px;
  margin: auto;

  .item-fields {
    margin-bottom: 20px;

    .item-input {
      margin-bottom: 10px;
    }
  }

  .button {
    margin-bottom: 15px;
  }
}